section {
    padding: 0 !important;
}

#hide {
    display: none;
}

#show {
    display: block;
}

.carousel {
    width: 100% !important;
}

.carousel-caption {
    width: 100%;
    left: 0;
    text-align: start;
    padding-left: 75px;
}

.carousel-caption p {
    font-size: 12px;
}

.carousel-caption b {
    color: red;
}

.carousel-item img{
    height: 500px;
    object-fit: cover;
}

.carousel-control-next, .carousel-control-prev {
    width: 75px !important;
}

hr.line {
    background-color: black;
    border: none;
    height: 1px;
    margin-left: 10px;
}

hr.line-under-title {
    background-color: #1ED760;
    border-color: #1ED760;
    height: 2.5px;
    margin: 0;
    opacity: 1;
}

.content-box {
    padding: 0;
    margin: 0;
    width: 100%;
}

.news-update {
    margin-top: 30px;
    padding: 0 !important;
    margin-bottom: 30px;
}   

#first.sub-table-items {
    margin-top: 20px;
}

.sub-table-items>hr {
    margin-left: 20px;
}

.sub-table-items {
    padding-left: 10px;
}

.sub-table-items img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.sub-table-items>.content {
    padding-top: 15px;
}

.sub-table-items>.content b {
    color: red;
}

.sub-table .title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sub-table a button {
    width: fit-content;
    float: right;
}

section .content-box .title {
    width: fit-content;
    background-color: #1ED760;
    padding: 5px 15px 1px 15px;
}

section .content-box .title h6 {
    width: 100px;
    text-align: center;
}

#first.items-news-update {
    padding-top: 20px;
}

.items-news-update {
    padding-left: 10px;
    overflow: auto;
}

.items-news-update img {

    width: 250px;
    height: 150px;
    object-fit: cover;
    float: left;
}

.items-news-update .content {
    padding-left: 270px;
}

.items-news-update .content a>h5 {
    color: black;
}


.items-news-update .content p {
    color: rgb(100, 100, 100);
    font-size: small;
}

.upload b {
    color: red;
}

.upload {
    font-size: 12px;
}

.items-news-update:hover a h5 {
    color: red;
}

.items-news-update .about {
    width: 120px;
    float: right;
    background-color: #1ED760;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
}

.items-news-update .about a {
    color: black;
}

.items-news-update .about:hover a {
    color: red;
}

.loadmore {
    width: fit-content;
    margin: auto;
}